html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.8;
  padding-bottom: 300px;
}
.ub1 {
  margin: 50px auto;
  width: 1200px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  background: #95f1bf28;

}
.judul {
  flex: 3;
  order: 2;
}
.colLi {
  flex: 1;
  order: 1;
}
.colR {
  flex: 1;
  order: 3;
}
/* --------------- */

.ub2 {
  margin: 40px auto;
  width: 1200px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  background: #eaedeb;

}
