html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.8;
  padding-bottom: 300px;
}
.ub1 {
  margin: 50px auto;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  background: #95f1bf28;
}
.judul {
  flex: 3;
  order: 2;
}
.colLi {
  flex: 1;
  order: 1;
}
.colR {
  flex: 1;
  order: 3;
}
/* --------------- */

.container {
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
}
.A {
  background-color: rgba(236, 177, 177, 0.687);
}
.B {
  background-color: rgb(197, 247, 197);
}
.C {
  background-color: rgb(217, 205, 241);
}

/* responsive */
@media (min-width: 600px) {
  .ub2 {
    margin: 40px auto;
    max-width: 1000px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    background: #011206;
    justify-content: space-around;
  }

  .container {
    width: 30%;
  }
}
